main {
    color: hsl(224, 100%, 90%);
    padding: 15px 10px;
    line-height: 1.2;
}

div.paragraph {
    margin-bottom: 20px;
}

img {
    width: 200px;
    height: 200px;
}

#animation {
    position: relative;
    width: 200px;
    height: 200px;
}

#animation img {
    position: absolute;
    top: 0;
    left: 0;
}

#animation img#wheel {
    opacity: 0;
    animation-name: wheelClockFading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes wheelClockFading {
    from   {opacity: 0}
    to  {opacity: 1}
}