#clock-container {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
}

#clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clock path, #clock text {
    filter: drop-shadow(2px 2px 10px black); /*hsl(224, 76%, 50%));*/
}